:root {
  --main-text: #fcf5e8;
  --hover-text: #f7dfb2;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Chivo);

@font-face {
  font-family: "Comfortaa-Light";
  src: local("Comfortaa-Light"), url(./Comfortaa-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham-Light";
  src: local("Gotham-Light"), url(./Gotham\ Light.otf) format("opentype");
}

@font-face {
  font-family: "Rockwell-Regular";
  src: local("Rockwell Regular"), url(./Rockwell\ Regular.otf),
    format("opentype");
}

/* Background and loading animation */
.App {
  animation: fade-load 1s ease-in 0.5s backwards;
}

/* About Page */

.bio {
  background-image: url("./img/bio-background.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  position: fixed;
}

/* Gallery */

.gallery-pg {
  background-color: #424242;
}

.gallery {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 33%;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 0 20px;
}

.gallery .img {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  margin-bottom: 12px;
}

.gallery .img:hover {
  filter: opacity(0.8);
}

.gallery-name {
  padding-left: 20px;
  text-align: center;
  font-family: "Gotham-Light";
  font-size: 50px;
  letter-spacing: 1.3rem;
  color: var(--main-text);
  stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf9f6;
  transition: opacity 1.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  color: #424242;
  cursor: pointer;
}

/* Home Page */

.home-section {
  display: flex;
  align-items: left;
  position: relative;
  height: 70vh;
}

.homeStart {
  height: 110vh;
  position: static;
  justify-content: center;
}

.portfolio-text {
  box-sizing: border-box;
  line-height: 50px;
  position: relative;
  margin-top: 230px;
  margin-left: 200px;
  letter-spacing: 0.1rem;
}

.portfolio-title {
  font-family: "Gotham-Light";
  font-size: 80px;
  color: white;
  margin-bottom: 0px;
}

.portfolio-link {
  text-decoration: underline;
  font-family: "Chivo";
  font-size: 30px;
  color: orange;
  margin-left: 7px;
}
.about-name {
  padding-left: 0px;
}

.portfolio-link:hover {
  animation: fade-view-portfolio 0.2s ease-in;
  color: #ffd380;
}

.about {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  padding: 5px 15px;
  margin-top: 12%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  font-family: "Roboto Slab";
  font-size: xx-large;
  color: black;
  text-align: center;
}

.about-p {
  height: 100vh;
}

.about-main p {
  pointer-events: none;
  transform: translateY(30px);
  padding-bottom: 5px;
}

.about-main Link {
  margin-left: -130px;
}

.abt-pfp {
  margin-left: 15vw;
  margin-top: 100px;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 5vw;
}

.bottom-page-home {
  text-align: center;
}

.bottom-page-home h1 {
  letter-spacing: 0.3rem;
  font-family: "Gotham-Light";
}

.bottom-page-home p {
  transform: translateY(0.5vh);
  padding-bottom: 15px;
}

/* Navbar Styles */

.navbar {
  box-sizing: border-box;
  font-family: "Rockwell-Regular";
  font-size: 20px;
  /* font-weight: bold; */
  display: flex;
  justify-content: space-between;
  /* align-items: top; */
  gap: 2rem;
  letter-spacing: 0.2rem;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

.navhome > a:hover,
.portfolio-links > li > a:hover {
  animation: fade-text-active 0.2s ease-in;
  color: var(--hover-text);
}

.navhome {
  transform: translateY(23px);
}

.droplink {
  text-decoration: none;
  color: var(--main-text);
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

.dropdown-menu {
  position: relative;
  padding: 0.4rem;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  font-family: "Chivo";
  text-align: left;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu > li > * {
  color: black;
  transition: color 0.1s ease-in;
}

.dropdown-menu > li:hover > * {
  color: lightblue;
}

.dropdown.active > .droplink + .dropdown-menu {
  transform: translateY(10px);
  pointer-events: auto;
  opacity: 1;
}

.dropdown.active > .droplink {
  animation: fade-text-active 0.2s ease-in;
  color: var(--hover-text);
}

/* Animations */

@keyframes fade-load {
  /* 0% {
    opacity: 0;
  } */
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Will work on later */
@keyframes fade-text-inactive {
  from {
    color: #f7dfb2;
  }
  to {
    color: #fcf5e8;
  }
}

/* Fade text darker on hover */
@keyframes fade-text-active {
  from {
    color: var(--main-text);
  }
  to {
    color: var(--hover-text);
  }
}

@keyframes fade-view-portfolio {
  from {
    color: orange;
  }
  to {
    color: #ffd380;
  }
}

/* Responsiveness */

/* @media (orientation: portrait) {
  .navbar {
    gap: .05rem;
  }

  .navbar ul {
    gap: 0.5rem
  }

  .home-section {
    height: 1000vh;
  }
} */

@media (max-width: 1024px) {
  .homeStart {
    height: 60vh;
  }

  .home-section {
    justify-content: left;
  }

  .portfolio-text {
    line-height: 50px;
    margin-top: 230px;
    margin-left: 25px;
    position: relative;
    justify-content: center;
  }

  .portfolio-title {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .portfolio-link {
    font-size: 20px;
    margin-left: 7px;
  }

  .about {
  }

  .about-p {
    height: 45vh;
  }
}

@media (max-width: 991px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-width: 100%;
    -webkit-column-width: 100%;
    column-width: 100%;
  }

  .home-section {
    height: 50vh;
  }

  .portfolio-text {
    line-height: 50px;
    margin-top: 230px;
    margin-left: 10px;
  }

  .portfolio-title {
    font-size: 80px;
    margin-bottom: 0px;
  }

  .portfolio-link {
    font-size: 30px;
    margin-left: 7px;
  }

  .about-p {
    height: 1vh;
  }
}
