:root {
  --main-text: #fcf5e8;
  --hover-text: #f7dfb2;
}

/* Background and loading animation */
.App {
  animation: fade-load 1s ease-in .5s backwards;
}

.bio {
  background-image: url("./img/main-background.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.street {
  background-color: #424242;
}

.cars {
  background-color: #424242;
}

.gallery {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 33%;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 0 20px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  margin-bottom: 12px;
}

.gallery .pics:hover {
  filter: opacity(0.8);
}

.gallery-name {
  text-align: center;
  font-family: "Montserrat";
  font-size: 50px;
  letter-spacing: .3rem;
  color: var(--main-text);
  stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.resume {
  box-sizing: border-box;
  /* border-radius: 25px; */
  /* border: 3px black solid; */
  position: absolute;
  bottom: 0%;
  left: 25%;
  margin-left: -25%;
  margin-top: 12%;
  overflow: hidden;
  background-color: rgba(255, 144, 40, 0.8);
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  font-family: "Roboto Slab";
  font-size: xx-large;
  color: black;
  text-align: center;
  /* max-width: 50%; */
}

.navbar {
  box-sizing: border-box;
  font-family: "Roboto Slab";
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  letter-spacing: .1rem;
  padding: 2% 5%; 
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--main-text);
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

.navbar a:hover {
  animation: fade-text-active .2s ease-in;
  color: var(--hover-text);
}

@keyframes fade-load {
  /* 0% {
    opacity: 0;
  } */
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Will work on later */
@keyframes fade-text-inactive {
  from {
    color: #f7dfb2;
  }
  to {
    color: #fcf5e8;
  }
}

/* Fade text darker on hover */
@keyframes fade-text-active {
  from {
    color: var(--main-text);
  }
  to {
    color: var(--hover-text);
  }
} 

@media (max-width: 991px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-width: 100%;
  -webkit-column-width: 100%;
  column-width: 100%;
  }
}