/* Background and loading animation */
.App {
  animation: fade-load 0.9s ease-in;
  background-image: url("./img/main-background.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.resume {
  box-sizing: border-box;
  /* border-radius: 25px; */
  /* border: 3px black solid; */
  position: absolute;
  bottom: 0%;
  left: 25%;
  margin-left: -25%;
  margin-top: 12%;
  overflow: hidden;
  background-color: rgba(255, 144, 40, 0.8);
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  font-family: "Roboto Slab";
  font-size: xx-large;
  color: black;
  text-align: center;
  /* max-width: 50%; */
}

.navbar {
  box-sizing: border-box;
  font-family: "Roboto Slab";
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  letter-spacing: .1rem;
  padding: 2% 5%; 
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #fcf5e8;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

.navbar a:hover {
  animation: fade-text-active .2s ease-in;
  color: #f7dfb2;
}

@keyframes fade-load {
  /* 0% {
    opacity: 0;
  } */
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* Will work on later */
@keyframes fade-text-inactive {
  from {
    color: #f7dfb2;
  }
  to {
    color: #fcf5e8;
  }
}

/* Fade text darker on hover */
@keyframes fade-text-active {
  from {
    color: #fcf5e8;
  }
  to {
    color: #f7dfb2;
  }
} 